* {
	margin: 0;

}



html, body {
	height: 100%;

}


h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}



.sect {
	height: 100%;
	width: 100%;

	background-color: #FF5722;


}


.subSection {
	height: 50%;
	background-color: #8BC34A;


}